---
layout: default
title: Add Subject
permalink: /add-subject/
---
{% include breadcrumbs.html parent="Subjects" %}

<div class="alert alert-success" role="alert" data-hook="alert-success" style="display: none;">
  This subject has been <a href="#" data-hook="commit-url">created</a> and the page is currently generating.
  It will be available momentarily at <a href="#" data-hook="subject-url"></a>
</div>

<div class="alert alert-danger" role="alert" data-hook="alert-error" style="display: none;">
  There was an error saving this page
</div>

<div class="row" data-hook="edit-view">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Add Subject</h1>
    {% include subject-form.html %}
  </div>
</div>
